.font-popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.font-popup {
  background: #fff;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.font-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.font-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f8f8f8;
  cursor: pointer;
}

.font-item:hover {
  background: #ececec;
}

.close-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #d18b60;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}
.font-item {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s;
}

.font-item.selected-font {
  background-color: #eeeeee;
  color: black;
  border-color: rgb(128, 128, 128);
}
