/* 페이드인 애니메이션 */
.fade-in {
  animation: fadeIn 0.4s ease-in;
}
.daily-test-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.loading-image {
  width: 100px;
  height: 60px;
  background: url("../../public/loading.png") no-repeat center/cover;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  } /* 위로 10px 튀기기 */
}

.loading-bar-container {
  width: 300px;
  height: 10px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loading-bar-fill {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #ffdca1, #ffb86b);
  transition: width 0.2s linear;
}

@keyframes loading-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
